.comment{

    /* Syling the comments and the comment form container */

    padding:12px;
    width:400px;
    position:relative;
    background-color:#fcfcfc;
    border:1px solid white;
    color:#888;
    margin-bottom:25px;

    /* CSS3 rounded corners and drop shadows */

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    -moz-box-shadow:2px 2px 0 #c2c2c2;
    -webkit-box-shadow:2px 2px 0 #c2c2c2;
    box-shadow:2px 2px 0 #c2c2c2;
}